body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    width: 50%;
    padding: 10px;
    background-color: white;
    margin: 20px 0px 20px 0px;
    box-shadow: 0 0.2em 1em gray;
}

li {
    list-style: none;
    padding: 2px;
    margin: 2px;
    border-bottom: 1px blue dotted;
}

.ilumina {
    box-shadow: 0 1em 5em gray;
    transition-duration: 1s;
}

.escuro {
    box-shadow: 0 0.2em 1em gray;
    transition-duration: 1s; 
}

li::before {
    content: "✔️";
}

a {
    text-decoration: none;
}

a:visited {
    color: blue;
}

a:hover {
    color: orange;
}